{% extends 'main.html' %}
{% load static %}
{% block content %}

    <div class="any_page_container">
        <div class="item_container_header">
            <h1>All Products</h1>
        </div>
        <div class="all_products_container">

            <div class="table_row_header">
                <div class="table_headrer table_headrer_1"><p>Photo</p></div>
                <div class="table_headrer table_headrer_2"><p>Name</p></div>
                <div class="table_headrer table_headrer_2"><p>Categories</p></div>
                <div class="table_headrer table_headrer_2"><p>Rating</p></div>
                <div class="table_headrer table_headrer_3"><p>Price</p></div>
                <div class="table_headrer table_headrer_4"><p>Action</p></div>
            </div>


            {% for product in all_products %}
            <div class="table_row_body">
                <div class="table_headrer table_headrer_1">
                    <div class="main_photo">
                        <a href="/item/{{product.id}}">
                            <img src="{{ MEDIA_URL }}/product_pictures/{{ product.images.all.1.name }}" alt="image">
                        </a>
                    </div>
                </div>

                <div class="table_headrer table_headrer_2"><p>{{ product.name }}</p></div>
                <div class="table_headrer table_headrer_2">
                    {% for category in product.categories.all %}
                    <small>{{category.name}}</small>
                    {% endfor %}

                </div>
                <div class="table_headrer table_headrer_3"><p>{{ product.average }}</p></div>
                <div class="table_headrer table_headrer_3"><p>${{ product.price }}</p></div>
                <div class="table_headrer table_headrer_4">
                    <div class="table_headrer table_headrer_4">
                        <div class="action">                                
                            <a href="{% url 'delete' product.id %}"><small>Delete</small> |</a>
                            <a href="{% url 'edit' product.id %}"><small>Edit</small></a>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            {% endfor %}
        </div>
        <div class="btn_container">
            <div class="my_btn3_container">
                <a href="{% url 'create_new_product' %}" class="my_btn3">Add New Product</a>
            </div>
        </div>


    </div>

{% endblock content %}