{% extends 'main.html' %}
{% load static %}
{% block content %}

    <div class="any_page_container">
        <div class="item_container_header">
            <h1>All Products</h1>
        </div>
        <div class="all_products_container">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Photo</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in all_products %}
                    <tr>
                        <td>
                            <div class="tz-gallery">
                                <div class="main_photo lightbox">
                                    <a class="lightbox" href="{{ MEDIA_URL }}/product_pictures/{{ product.images.all.1.name }}">
                                        <img src="{{ MEDIA_URL }}/product_pictures/{{ product.images.all.1.name }}" alt="image">
                                    </a>
                                </div>
                            </div>
                        </td>
                        <div class="d-flex align-items-center">
                            <td>{{ product.name }}</td>
                            <td>{{ product.price }}</td>
                            <td>
                                <a href=""><small>Delete</small> |</a>
                                <a href=""><small> Edit</small></a>
                            </td>
                        </div>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>

    </div>

{% endblock content %}