{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="any_page_container">
  <div class="alert p-4">
 <div class="text-center">
  <img src="{% static 'images/payment_success.png'%}" alt="payment successful" class="w-25">
 </div>
  <h3 class="text-center">Your purchase was successful and your card was charged ${{amount |floatformat:2 }}. Thanks you and please check your profile page for order information. </h3>
  <div class="mt-5 d-flex justify-content-between">
    <a href="{% url 'store'%}" class="btn btn-dark">Continue shopping</a>
    <a href="{% url 'profile'%}" class="btn btn-dark">Profile Page</a>
  </div>
  </div>

</div>



{% endblock content %}