{% extends 'main.html' %}
{% load static %}
{% block content %}


    <div class="create_product_page_container">
        <div class="page_title">
            <h1>Create Product</h1>
        </div>

        <div class="create_product_form_container">
            <form class="form-group" action="{% url 'create_new_product' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="product_name">Name:</label>
                    <input type="text" class="form-control" name="product_name">
                </div>
                <div class="form-group">
                    <label for="product_price">Price:</label>
                    <input type="text" class="form-control" name="product_price" aria-describedby="name">
                </div>
                <div class="form-group">
                    <textarea name="editor1" class="form-control post_content"></textarea>
                </div>
                <div class="form-group">
                    <input type="file" name="product_image"  multiple>
                </div>
                <div class="form-row">
                    <div class="col-3">
                        <select class='custom-select' name="catergory">
                            <option value='NA' selected>Choose a category...</option>
                            {% for catergory in catergories %}
                                <option value="{{catergory.id}}">{{catergory.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" name="new_category" placeholder="or Create a new Category">
                    </div>
                </div>

                <div class="btncreate_container">
                    <div class="create_btn_container">
                        <button class="create_btn">Create</button>
                    </div>
                </div>
            </form>
        </div>

    </div>



{% endblock content %}