{% extends 'main.html' %}
{% load static %}
{% block content %}

    <div class="any_page_container">
        <div class="item_container_header">
            <h1>About this item</h1>
        </div>


        <div class="item_container">
            <div class="tz-gallery">
                <div class="item_photo_container">

                    <div class="main_photo lightbox">
                        <a class="lightbox" href="{{ MEDIA_URL }}/product_pictures/{{ first_image.name }}">
                            <img src="{{ MEDIA_URL }}/product_pictures/{{ first_image.name }}" alt="image">
                        </a>
                    </div>

                    <div class="all_additional_photos">
                        {% for picture in additional_images %}
                            <div class="additional_photo">
                                <a class="lightbox" href="{{ MEDIA_URL }}/product_pictures/{{ picture.name }}">
                                    <img src="{{ MEDIA_URL }}/product_pictures/{{ picture.name }}" alt="image">
                                </a>
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>


            <div class="item_description_container">
                <div class="product_header">
                    <h1>{{product.name}}</h1>
                    <a href="{% url 'add_to_cart' product.id %}" class="my_btn">Add To Cart</a>
                </div>
                

                <div class="rating_container">
                    {% for star in star_count %}
                    <ion-icon name="star"></ion-icon>
                    {% endfor %}
                </div>

                {{product.description|safe}}
                <div class="btn_container">
                    <div class="my_btn3_container">
                        <a href="{% url 'edit' product.id %}">Edit {{product.name}}</a>
                        
                    </div>
                </div>

                <p>Leave Rating:</p>
                <div class="leave_rating_container">
                    <form action="{% url 'review' product.id %}" method="post">
                        {% csrf_token %}
                        <div class="rating">
                            <input name="rating" type="radio" id="inlineCheckbox1" value="5"><label for="inlineCheckbox1"></label>
                            <input name="rating" type="radio" id="inlineCheckbox2" value="4"><label for="inlineCheckbox2"></label>
                            <input name="rating" type="radio" id="inlineCheckbox3" value="3"><label for="inlineCheckbox3"></label>
                            <input name="rating" type="radio" id="inlineCheckbox4" value="2"><label for="inlineCheckbox4"></label>
                            <input name="rating" type="radio" id="inlineCheckbox5" value="1"><label for="inlineCheckbox5"></label>
                        </div>
                        <p>Leave Review:</p>
                        <textarea name="review" class="form-control post_content"></textarea>

                        <div class="btncreate_container">
                            <div class="create_btn_container">
                                <button class="create_btn">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <!-- <div class="review_btn">
            <p id="see_all_reviews">See all reviews</p>
        </div> -->
        
        {% for review in all_reviews %}
            <div class="reviews_container">
                <div class="review_header">
                    <div class="review_poster_photo">
                        <ion-icon name="person-circle-outline"></ion-icon>
                    </div>
                    <div class="review_poster_details">
                        <p>{{ review.poster.first_name }} {{ review.poster.last_name }}</p>
                    </div>
                    {% if review.poster.id == cur_user.id %}
                    <div class="delete_review">
                        <a href="/delete_review/{{product.id}}/{{review.id}}">Delete Review</a>
                    </div>
                    {% endif %}
                </div>

                {% if review.stars == 1 %}
                    <div class="stars">
                        <ion-icon name="star"></ion-icon>
                    </div>
                {% elif review.stars == 2 %}
                    <div class="stars">
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                    </div>
                {% elif review.stars == 3 %}
                    <div class="stars">
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                    </div>
                {% elif review.stars == 4 %}
                    <div class="stars">
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                    </div>
                {% elif review.stars == 5 %}
                    <div class="stars">
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                    </div>
                {% endif %}

                <div class="review_content">
                    <p>{{ review.review }}</p>
                    <small>{{ review.created_at }}</small>
                </div>
            </div>
            <hr>
        {% endfor %}
        

        <div class="item_container_header">
            <h1>Featured items you may like</h1>
        </div>

    </div>

{% endblock content %}