<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    {% load static %}
    <title>Home</title>

    <script defer src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script defer src="{% static 'js/main.js' %}"></script>
</head>
<body>
    <div class="page_container">
        <!-- Navigation -->
        <div class="navigation_container">
            <nav>
                <div class="header">
                    <div class="left">
                        <div class="burger">
                            <div class="line1"></div>
                            <div class="line2"></div>
                            <div class="line3"></div>
                        </div>
                    </div>

                    <div class="logo_container">
                        <a href="/"><img src="{% static 'images/logo_red.png' %}" alt="logo"></a>
                    </div>

                    <ul class="nav-links">
                        <div class="nav_logo_container">
                            <a href="/"><img class="logo_img" src="{% static 'images/logo_red.png' %}" alt="logo"></a>
                        </div>
                    
                        <li><a href="/">Home</a></li>

                        <li><a href="/">Categories</a>
                            <ul id='categories'> 
                                <li><a href="/">T-shirts(0)</a></li>
                                <li><a href="/">Shoes(0)</a></li>
                                <li><a href="/">Cups(0)</a></li>
                                
                                <div id="slideToggle">
                                    <div id="hidden_categories">
                                        <li><a href="/">Fruits(0)</a></li>
                                        <li><a href="/">Socks(0)</a></li>
                                        <li><a href="/">Hats(0)</a></li>
                                        <li><a href="/">Pants(0)</a></li>
                                    </div>
                                    <p id="show_all">Show all</p>
                                </div>
                            </ul>
                        </li>

                        <li><a href="/">Shopping Cart</a></li>
                        {% if user_id in request.session %}
                        <li><a href="/">Sign Out</a></li>
                        {% else %}
                        <li><a href="/">Sign in</a></li>
                        {% endif %}
                    </ul>
                    <div class="right">
                        <div class="sign_in">
                            <a href="/"><ion-icon name="person"></ion-icon>
                                {% if user_id in request.session %}
                                <small>Sign out</small>
                                {% else %}
                                <small>Sign in</small>
                                {% endif %}
                            </a> 
                        </div>
                        <div class="cart">
                            <a href="/"><ion-icon name="cart"></ion-icon><small>0</small></a>
                        </div>
                    </div>
                </div>
            </nav>
            <div id="nav_botton">
                <ul> 
                    <li><a href="/">Mens</a></li>
                    <li><a href="/">Womens</a></li>
                    <li><a href="/">Goods</a></li>
                    <li><a href="/">Accessories</a></li>
                    <li><a href="/">Blog</a></li>
                    <li><a href="/">Contacts</a></li>
                </ul>
            </div>
        </div>

        <div class="main_container">
            {% block content %}

            {% endblock content %}
        </div>

        <img src="{% static 'images/him.png' %}" alt="" id="left_img">
        <img src="{% static 'images/her.png' %}" alt="" id="right_img">
    </div>



    <footer>
        <div class="footer_container">
            <div id="denys">
                <div class="pers_logo_container">
                    <img src="" alt="">
                </div>
                <div class="pers_text_container">
                    
                </div>

            </div>
        </div>
    </footer>


    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>