{% extends 'main.html' %}
{% load static %}
{% block content %}

<!-- stripe payment form styles -->
<style>
  .StripeElement {
    width: 98%;
    padding: 8px;
    margin: 0 auto;
    background-color: white;
    border-radius: 3px;
  }
</style>

<script src="https://js.stripe.com/v3/"></script>


<div class="any_page_container">
  <div class="checkout_container">

    <div class="order_summary">
      <div class="checkout_title">
        <h3>Order:</h3>
        <a class="btn_grey" href="{% url 'checkout' %}">
          <ion-icon name="arrow-undo-circle-outline"></ion-icon>Back To Checkout
        </a>
      </div>
      <div class="total_cart_info d-flex justify-content-between">

        
        <h4><span class="dark_grey">Total Items:</span> {{cur_user.cart.total_quantity}}</h4>
        <h4><span class="dark_grey">Total Price:</span> ${{cur_user.cart.total_cost|floatformat:2 }}</h4>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-6 mx-auto">
        <div class="alert alert-info">
          <h5 class="gold">Test card information</h5>
          <p><span class="gold">Card #:</span>  4242 4242 4242 4242</p>
          <p><span class="gold">Date:</span> any future date</p>
          <p><span class="gold">CVC:</span> any three numbers</p>
          <p><span class="gold">Zipcode:</span> any five numbers</p>
        </div>
        <form action="{% url 'charge'%}" method="post" id="payment-form" class="form-group">
          {%csrf_token%}
        
          <input type="text" name="name" placeholder="Full name" class="form-control mb-2">
          <input type="email" name="email" placeholder="Email address" class="form-control mb-2">
          <div class="form-row mb-4">
            <label for="card-element">
            </label>
            <div id="card-element">
              <!-- A Stripe Element will be inserted here. -->
            </div>
    
            <!-- Used to display form errors. -->
            <div id="card-errors" role="alert"></div>
          </div>
    
          <button class="btn_red">Submit Payment</button>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- stripe payment javascirpt  -->
<script>
  // Create a Stripe client.
  var stripe = Stripe(
    'pk_test_51HKrLqAG7S0SBZ5VS7x2DL5Pr3I9WH6A1S61R9L8B4eYjWMgOKprdEqfDDHrh1J7BykgEEygXnM9JsgGMPyZGnWL00GQuFK5b4');

  // Create an instance of Elements.
  var elements = stripe.elements();

  // Custom styling can be passed to options when creating an Element.
  // (Note that this demo uses a wider set of styles than the guide below.)
  var style = {
    base: {
      color: '#32325d',
      fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
      fontSmoothing: 'antialiased',
      fontSize: '16px',
      '::placeholder': {
        color: '#aab7c4'
      }
    },
    invalid: {
      color: '#fa755a',
      iconColor: '#fa755a'
    }
  };

  // Create an instance of the card Element.
  var card = elements.create('card', {
    style: style
  });

  // Add an instance of the card Element into the `card-element` <div>.
  card.mount('#card-element');
  // Handle real-time validation errors from the card Element.
  card.on('change', function (event) {
    var displayError = document.getElementById('card-errors');
    if (event.error) {
      displayError.textContent = event.error.message;
    } else {
      displayError.textContent = '';
    }
  });

  // Handle form submission.
  var form = document.getElementById('payment-form');
  form.addEventListener('submit', function (event) {
    event.preventDefault();

    stripe.createToken(card).then(function (result) {
      if (result.error) {
        // Inform the user if there was an error.
        var errorElement = document.getElementById('card-errors');
        errorElement.textContent = result.error.message;
      } else {
        // Send the token to your server.
        stripeTokenHandler(result.token);
      }
    });
  });

  // Submit the form with the token ID.
  function stripeTokenHandler(token) {
    // Insert the token ID into the form so it gets submitted to the server
    var form = document.getElementById('payment-form');
    var hiddenInput = document.createElement('input');
    hiddenInput.setAttribute('type', 'hidden');
    hiddenInput.setAttribute('name', 'stripeToken');
    hiddenInput.setAttribute('value', token.id);
    form.appendChild(hiddenInput);

    // Submit the form
    form.submit();
  }
</script>

{% endblock content %}