{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="any_page_container">

  <div class="container_header">
    <h3 class="text-center">{{cur_user}}</h3>
  </div>

  <div class="profile_container">
    <div class="profile_header">
      <!-- profile -->
      <div class="profile_logo p-3 text-monospace">
        {{cur_user.first_name.0}}{{cur_user.last_name.0}}
      </div>
      <div class="logo_descr">
        <p><span class="dark_grey">First name:</span> {{cur_user.first_name}}</p>
        <p><span class="dark_grey">Last name:</span> {{cur_user.last_name}}</p>
        <p><span class="dark_grey">Email address:</span> {{cur_user.email}}</p>
        <p><span class="dark_grey">Member since:</span> {{cur_user.created_at|date:"SHORT_DATE_FORMAT"}}</p>
      </div>
    </div>

    <!-- last order -->
    {% if cur_user.orders.all|length != 0 %}
      <p class="font-weight-bold mt-4 red">Last order:</p>
      <div>
        <p class="font-weight-bold">Order #{{last_order.id}}</p>
        <p><span class="dark_grey">Ordered by:</span> {{last_order.user.first_name}} {{last_order.user.last_name}}</p>
        <p><span class="dark_grey">Total cost:</span> ${{last_order.total_cost|floatformat:2}}</p>
        <p><span class="dark_grey">Completed:</span> <span class="bg-success text-white p-1">{{last_order.complete}}</span></p>
        <p><span class="dark_grey">Date ordered:</span> {{last_order.created_at |date:"SHORT_DATE_FORMAT"}}</p>
        <a class="dark" data-toggle="collapse" href="#order{{last_order.id}}" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Shipping address <i class="fas fa-hand-point-down"></i></a>
        {% if last_order.shipping_address|length > 0 %}
          <a class="dark" data-toggle="collapse" href="#order{{last_order.id}}" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Shipping address <i class="fas fa-hand-point-down"></i></a>
        {% endif %}
      </div>

      <div class="collapse multi-collapse" id="order{{last_order.id}}">
        {% for address in last_order.shipping_address.all%}
          <p><span class="dark_grey">Street Address: </span>{{address.address}}</p>
          <p><span class="dark_grey">City: </span>{{address.city}}</p>
          <p><span class="dark_grey">State: </span>{{address.state}}</p>
          <p><span class="dark_grey">Zipe Code: </span> {{address.zipcode}}</p>
        {% endfor %}
      </div>
      <br>
      <hr>
      <br>

      <!-- all orders accordian button -->
      {% if all_user_orders != None %}
      <p><a data-toggle="collapse" href="#orders{{all}}" role="button" aria-expanded="false" aria-controls="multiCollapseExample1" class="btn_red">All orders <i class="fas fa-hand-point-down"></i></a></p>
      {% endif %}

      <!-- all orders body accoridan -->
      <div class="collapse multi-collapse" id="orders{{all}}">
        <div class="mt-3">
          <!-- all orders -->
          {% for order in all_user_orders%}
            <div class="all_order mt-3">
              <p class="font-weight-bold">Order #{{order.id}}</p>
              <p><span class="dark_grey">Ordered by:</span> {{order.user.first_name}} {{order.user.last_name}}</p>
              <p><span class="dark_grey">Total cost:</span> ${{order.total_cost|floatformat:2}}</p>
              <p><span class="dark_grey">Completed:</span> <span class="bg-success text-white p-1">{{order.complete}}</span></p>
              <p><span class="dark_grey">Date ordered:</span> {{order.created_at |date:"SHORT_DATE_FORMAT"}}</p>
              <a class="dark" data-toggle="collapse" href="#order{{order.id}}" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Shipping address <i class="fas fa-hand-point-down"></i></a>
            </div>

            <!-- all orders shipping address accordian -->
            <div class="collapse multi-collapse" id="order{{order.id}}">
              {% for address in order.shipping_address.all%}
                <p><span class="dark_grey">Street Address: </span>{{address.address}}</p>
                <p><span class="dark_grey">City: </span>{{address.city}}</p>
                <p><span class="dark_grey">State: </span>{{address.state}}</p>
                <p><span class="dark_grey">Zipe Code: </span> {{address.zipcode}}</p>
              {% endfor %}
            </div>
            <br>
            <hr>
            <br>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </div>

</div>

{% endblock content %}

