{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="any_page_container">
  <div class="container_header">
    <h3 class="text-center">{{cur_user}}</h3>
  </div>

    <div class="profile_container">

      <div class="p-5">
        <div class="profile_header">
                      <!-- bio and all orders -->
          <div class="profile_logo p-3 text-monospace">
            {{cur_user.first_name.0}}{{cur_user.last_name.0}}
          </div>
          <div class="logo_descr">
            <p><span class="dark_grey">First name:</span> {{cur_user.first_name}}</p>
            <p><span class="dark_grey">Last name:</span> {{cur_user.last_name}}</p>
            <p><span class="dark_grey">Email address:</span> {{cur_user.email}}</p>
            <p><span class="dark_grey">Member since:</span> {{cur_user.created_at|date:"SHORT_DATE_FORMAT"}}</p>
          </div>
        </div>
        {% if cur_user.orders.all|length != 0 %}
          <!-- Last order -->
          <h4 class="mt-5">Last Order:</h4>
          <div class="all_order mt-3">
            <p class="font-weight-bold">Order #{{last_order.id}}</p>

            <p><span class="dark_grey">Ordered by:</span> {{last_order.user.first_name}} {{last_order.user.last_name}}</p>
            <p><span class="dark_grey">Total cost:</span> ${{last_order.total_cost|floatformat:2}}</p>
            <p><span class="dark_grey">Completed:</span> <span class="bg-success text-white p-1">{{last_order.complete}}</span></p>
            <p><span class="dark_grey">Date ordered:</span> {{last_order.created_at |date:"SHORT_DATE_FORMAT"}}</p>
            {% if last_order.shipping_address != none %}
              <a data-toggle="collapse" href="#order{{last_order.id}}" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"> <i class="fas fa-hand-point-down"></i> Shipping address</a>
            {% endif %}
          </div>
          <div class="collapse multi-collapse" id="order{{last_order.id}}">

            <div class="card card-body mt-3 bg-light">
              <div class="d-flex justify-content-between">
                <h4 class="mb-3">Order number #{{last_order.id}} shipping address</h4>
                <a href="">
                  <span>&#10005;</span></a>
              </div>

              {% for address in last_order.shipping_address.all%}
                <p><span class="text-primary">Street Address: </span>
                  {{address.address}}</p>
                <p><span class="text-primary">City: </span>
                  {{address.city}}</p>
                <p><span class="text-primary">State: </span>
                  {{address.state}}</p>
                <p><span class="text-primary">Zipe Code: </span> {{address.zipcode}}</p>
            {% endfor %}
            </div>

          </div>



          <!-- all orders accordian button -->
          {% if all_user_orders != None %}
          <p><a data-toggle="collapse" href="#orders{{all}}" role="button" aria-expanded="false"
              aria-controls="multiCollapseExample1" class="btn btn-info  my-3"> <i class="fas fa-hand-point-down"></i>
              All orders</a></p>
          {% endif %}

          <!-- all orders body accoridan -->
          <div class="collapse multi-collapse" id="orders{{all}}">
            <div class="card card-body mt-3">
              <div class="d-flex justify-content-between">
                <h4>All your previous orders</h4>
                <a href="">
                  <span>&#10005;</span></a>
              </div>

              <!-- all orders -->
              {% for order in all_user_orders%}

              <div class="all_order mt-3 border border-dark p-1">
                <p class="font-weight-bold">Order Number: #{{order.id}}</p>

                <p>Ordered by: {{order.user.first_name}} {{order.user.last_name}}</p>
                <p>Total cost: ${{order.total_cost|floatformat:2}}</p>
                <p>Completed: <span class="bg-success text-white p-1">{{order.complete}}</span></p>
                <p>Date ordered: {{order.created_at |date:"SHORT_DATE_FORMAT"}}</p>

                <a data-toggle="collapse" href="#order{{order.id}}" role="button" aria-expanded="false"
                  aria-controls="multiCollapseExample1"> <i class="fas fa-hand-point-down"></i> Shipping address</a>

              </div>

              <!-- all orders shipping address accordian -->
              <div class="collapse multi-collapse" id="order{{order.id}}">

                <div class="card card-body mt-3 bg-light">
                  <div class="d-flex justify-content-between">
                    <h4 class="mb-3">Order number #{{order.id}} shipping address</h4>
                    <a href="">
                      <span>&#10005;</span></a>
                  </div>

                  {% for address in order.shipping_address.all%}
                    <p><span class="text-primary">Street Address: </span>
                      {{address.address}}</p>
                    <p><span class="text-primary">City: </span>
                      {{address.city}}</p>
                    <p><span class="text-primary">State: </span>
                      {{address.state}}</p>
                    <p><span class="text-primary">Zipe Code: </span> {{address.zipcode}}</p>
                {% endfor %}
                </div>

              </div>
              {% endfor %}
            </div>
          </div>
        {% endif %}

      </div>
    </div>

</div>

{% endblock content %}

