{% load static %}
<div class="logo_container">
    <a href="/store"><img src="{% static 'images/logo_red.png' %}" alt="logo"></a>
</div>

<ul class="nav-links">
    <div class="nav_logo_container">
        <a href="/store"><img class="logo_img" src="{% static 'images/logo_red.png' %}" alt="logo"></a>
    </div>

    <li><a href="/store">Home</a></li>
    {% if page == 'store' %}
        <li>Categories
            <ul id='categories'> 
                {% for category in first_three_categories %}
                <li class="category_link" category_id='{{category.id}}'><a href="{% url 'display_category' category.id %}">{{category.name}}({{category.products.all|length}})</a></li>
                {% endfor %}
                
                <div id="slideToggle">
                    <div id="hidden_categories">
                        {% for category in additional_categories %}
                            <li class="category_link" category_id='{{category.id}}'><a href="{% url 'display_category' category.id %}">{{category.name}}({{category.products.all|length}})</a></li>
                        {% endfor %}
                    </div>
                    <p id="show_all">Show all</p>
                </div>
            </ul>
        </li>
    {% endif %}
    {% if request.session.user_id %}
    <li><a href="{% url 'cart' %}">Shopping Cart</a></li>
    <li><a href="{% url 'profile' %}">My Profile</a></li>
    <li><a href="/login/logout/">Sign Out</a></li>
    {% else %}
    <li><a href="{% url 'login' 'log'%}">Sign in</a></li>
    {% endif %}
</ul>