{% extends 'main.html' %}
{% load static %}
{% block content %}

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="logo_description_container">
                    <div class="logo_description_text_container">
                        <div class="logo_description_text">
                            <h1>Description</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos beatae delectus, reiciendis praesentium saepe culpa fugiat eos earum hic numquam ut aliquid esse in perspiciatis voluptatibus obcaecati ipsum molestias voluptatem!</p>
                        </div>
                    </div>
                    <div class="logo_description_img_container">
                        <div class="logo_description_img">
                            <div class="logo_description_photo"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div id="photo100_section">
                    <div class="photo100_section_logo_container">
                        <a class="photo100_logo_text" href="index.html">Summer</a>
                        <p>Fun every day. Join Us!</p>
                        <a class="button_3" href="index.html">Show</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="logo_description_container">
                    <div class="logo_description_text_container">
                        <div class="logo_description_text">
                            <h1>Description</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos beatae delectus, reiciendis praesentium saepe culpa fugiat eos earum hic numquam ut aliquid esse in perspiciatis voluptatibus obcaecati ipsum molestias voluptatem!</p>
                        </div>
                    </div>
                    <div class="logo_description_img_container">
                        <div class="logo_description_img">
                            <div class="logo_description_photo"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="product_page_container">
        <div class="product_container_header">
            <h1>Store</h1>
            <div class="store_search_container">
                <form action="/" method="get">
                    <input class="search_bar" type="text" name="q" id="id_q" placeholder="Search...">
                    <button class="search_button"><ion-icon name="search-outline"></ion-icon></button>
                </form>
            </div>

        </div>



        <div class="product_container">


            <div class="product">
                <div class="product_description">
                    <div class="product_header">
                        <p>Item 1</p>
                        <p>$19.99</p>
                    </div>
                    <!-- <div class="product_main">
                        <p>Item 1 description. This item is very nice, so fucking buy it!</p>
                    </div> -->
                    <div class="product_buttons">
                        <a class="btn_white"href="">Add to cart</a>
                        <a class="btn_white" href="/item">View</a>
                    </div>
                </div>
                <a href=""><img src="{% static 'images/15_front.png' %}" alternative_src="{% static 'images/15_back.png' %}" alt="image"></a>
            </div>
            <div class="product">
                <div class="product_description">
                    <div class="product_header">
                        <p>Item 1</p>
                        <p>$19.99</p>
                    </div>
                    <!-- <div class="product_main">
                        <p>Item 1 description. This item is very nice, so fucking buy it!</p>
                    </div> -->
                    <div class="product_buttons">
                        <a class="btn_white"href="">Add to cart</a>
                        <a class="btn_white" href="">View</a>
                    </div>
                </div>
                <a href=""><img src="{% static 'images/16_front.png' %}" alternative_src="{% static 'images/16_back.png' %}" alt="image"></a>
            </div>
            <div class="product">
                <div class="product_description">
                    <div class="product_header">
                        <p>Item 1</p>
                        <p>$19.99</p>
                    </div>
                    <!-- <div class="product_main">
                        <p>Item 1 description. This item is very nice, so fucking buy it!</p>
                    </div> -->
                    <div class="product_buttons">
                        <a class="btn_white"href="">Add to cart</a>
                        <a class="btn_white" href="">View</a>
                    </div>
                </div>
                <a href=""><img src="{% static 'images/17_front.png' %}" alternative_src="{% static 'images/17_back.png' %}" alt="image"></a>
            </div>
            <div class="product">
                <div class="product_description">
                    <div class="product_header">
                        <p>Item 1</p>
                        <p>$19.99</p>
                    </div>
                    <!-- <div class="product_main">
                        <p>Item 1 description. This item is very nice, so fucking buy it!</p>
                    </div> -->
                    <div class="product_buttons">
                        <a class="btn_white"href="">Add to cart</a>
                        <a class="btn_white" href="">View</a>
                    </div>
                </div>
                <a href=""><img src="{% static 'images/19_front.png' %}" alternative_src="{% static 'images/19_back.png' %}" alt="image"></a>
            </div>
            <div class="product">
                <div class="product_description">
                    <div class="product_header">
                        <p>Item 1</p>
                        <p>$19.99</p>
                    </div>
                    <!-- <div class="product_main">
                        <p>Item 1 description. This item is very nice, so fucking buy it!</p>
                    </div> -->
                    <div class="product_buttons">
                        <a class="btn_white"href="">Add to cart</a>
                        <a class="btn_white" href="">View</a>
                    </div>
                </div>
                <a href=""><img src="{% static 'images/1_front.png' %}" alternative_src="{% static 'images/1_back.png' %}" alt="image"></a>
            </div>
            <div class="product">
                <div class="product_description">
                    <div class="product_header">
                        <p>Item 1</p>
                        <p>$19.99</p>
                    </div>
                    <!-- <div class="product_main">
                        <p>Item 1 description. This item is very nice, so fucking buy it!</p>
                    </div> -->
                    <div class="product_buttons">
                        <a class="btn_white"href="">Add to cart</a>
                        <a class="btn_white" href="">View</a>
                    </div>
                </div>
                <a href=""><img src="{% static 'images/2_front.png' %}" alternative_src="{% static 'images/2_back.png' %}" alt="image"></a>
            </div>
            <div class="product">
                <div class="product_description">
                    <div class="product_header">
                        <p>Item 1</p>
                        <p>$19.99</p>
                    </div>
                    <!-- <div class="product_main">
                        <p>Item 1 description. This item is very nice, so fucking buy it!</p>
                    </div> -->
                    <div class="product_buttons">
                        <a class="btn_white"href="">Add to cart</a>
                        <a class="btn_white" href="">View</a>
                    </div>
                </div>
                <a href=""><img src="{% static 'images/4_front.png' %}" alternative_src="{% static 'images/4_back.png' %}" alt="image"></a>
            </div>
            <div class="product">
                <div class="product_description">
                    <div class="product_header">
                        <p>Item 1</p>
                        <p>$19.99</p>
                    </div>
                    <!-- <div class="product_main">
                        <p>Item 1 description. This item is very nice, so fucking buy it!</p>
                    </div> -->
                    <div class="product_buttons">
                        <a class="btn_white"href="">Add to cart</a>
                        <a class="btn_white" href="">View</a>
                    </div>
                </div>
                <a href=""><img src="{% static 'images/5_front.png' %}" alternative_src="{% static 'images/5_back.png' %}" alt="image"></a>
            </div>
            <div class="product">
                <div class="product_description">
                    <div class="product_header">
                        <p>Item 1</p>
                        <p>$19.99</p>
                    </div>
                    <!-- <div class="product_main">
                        <p>Item 1 description. This item is very nice, so fucking buy it!</p>
                    </div> -->
                    <div class="product_buttons">
                        <a class="btn_white"href="">Add to cart</a>
                        <a class="btn_white" href="">View</a>
                    </div>
                </div>
                <a href=""><img src="{% static 'images/8_front.png' %}" alternative_src="{% static 'images/8_back.png' %}" alt="image"></a>
            </div>

        </div>
    </div>


{% endblock content %}