<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- I am using this fontawesome in different parts of the app please don't touch -->
    <script src="https://kit.fontawesome.com/3953f86343.js" crossorigin="anonymous"></script>

    <!-- starts for rating -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!--  photo gallery -->
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">

    <!-- jQuery google Api -->
    <script defer src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
    
    {% load static %}
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script defer src="{% static 'js/main.js' %}"></script>
</head>
<body>
    <div class="page_container">
        <!-- Navigation -->
        <div class="navigation_container">
            <nav>
                <div class="header">
                    <div class="left">
                        <div class="burger">
                            <div class="line1"></div>
                            <div class="line2"></div>
                            <div class="line3"></div>
                        </div>
                    </div>
                    <div class="logo_container">
                        <a href="/welcome"><img src="{% static 'images/logo_red.png' %}" alt="logo"></a>
                    </div>

                    {% include 'sidebar.html' %}
                    
                    <div class="right">
                        <div class="sign_in">
                            {% if request.session.user_id %}
                            <a href="/login/logout/"><ion-icon name="person"></ion-icon><small>Sign out</small></a> 
                            {% else %}
                            <a href="{% url 'login' 'log'%}"><ion-icon name="person"></ion-icon><small>Sign in</small></a> 
                            {% endif %}
                        </div>
                        {% if request.session.user_id != null %}
                        <div class="cart">
                            <a href="{% url 'cart' %}"><ion-icon name="cart"></ion-icon><small id="cart_number">{{num_items_in_cart}}</small></a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </nav>
            <div id="nav_botton">
                <ul> 
                    <li id="menu_s"><a href='/store'>Store</a></li>
                    <li id="menu_h"><a href='/welcome'>Home</a></li>
                    {% if request.session.user_id != null %}
                    <li id="menu_cp"><a href="{% url 'create_new_product' %}">Create Product</a></li>
                    <li id="menu_ap"><a href="{% url 'all_products' %}">All Products</a></li>
                    <li id="menu_cat"><a href="{% url 'all_categories' %}">Categories</a></li>
                    <li id="menu_mp"><a href="{% url 'profile' %}">Profile</a></li>
                    <li id="menu_c"><a href="{% url 'cart' %}">Cart</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <div class="welcome_page_container">

            <div class="fire_logo_container">
                <div class="fire_description">
                    <h1>SPORTS WEAR</h1>
                </div>
                <a href="/store"><img class="logo_img" src="{% static 'images/logo_white.png' %}" alt="logo"></a>
            </div>
        </div>
        <div id="footer_background">

            <footer>
                <div class="footer_container">
                    <div id="denys">
                        <div class="pers_logo_container">
                            <img src="" alt="">
                        </div>
                        <div class="name_text_container">
                            <h1>DENYS</h1>
                        </div>
                        <div class="info_text_container">
                            <p>Denys Krychevskyi. Motivated and knowledge driven full stack Developer with background in JavaScript, Python, HTML5, CSS,  and building web applications from the ground up. Professional strengths include communication, time management, and creative problem-solving from 6+ years of experience in Graphic Design.</p>
                        </div>
                        <div class="social_media">
                            <a href="https://www.linkedin.com/in/denys-krychevskyi/" target="_blank"><img src="{% static 'images/linkedin.svg' %}" alt="" target="_blank"></a>
                            <a href="https://www.facebook.com/denys.krychevskyi" target="_blank"><img src="{% static 'images/facebook.svg' %}" alt=""></a>
                            <a href="https://github.com/Denys1004" target="_blank"><img src="{% static 'images/github.svg' %}" alt="" target="_blank"></a>
                        </div>
                    </div>
                    <div id="rashid">
                        <div class="pers_logo_container">
                            <img src="" alt="">
                        </div>
                        <div class="name_text_container">
                            <h1>RASHID</h1>
                        </div>
                        <div class="info_text_container">
                            <p>Rashid Jama. An extremely driven and creative Full Stack Developer who is currently open for career opportunities as a front-end or Back-end Web Developer in the Greater Seattle Area. Capable of learning new technologies very quickly, and always looking for opportunities to further expand skills and grow as a Developer.</p>
                        </div>
                        <div class="social_media">
                            <a href="https://www.linkedin.com/in/rashid-jama-4075b51b1/" target="_blank"><img src="{% static 'images/linkedin.svg' %}" alt=""></a>
                            <!-- <a href=""><img src="{% static 'images/facebook.svg' %}" alt=""></a> -->
                            <a href="https://github.com/rashidjama" target="_blank"><img src="{% static 'images/github.svg' %}" alt=""></a>
                        </div>
                    </div>
                    <div id="drew">
                        <div class="pers_logo_container">
                            <img src="" alt="">
                        </div>
                        <div class="name_text_container">
                            <h1>DREW</h1>
                        </div>
                        <div class="info_text_container">
                            <p>Drew Adorno. Full stack Developer with a background in Systems engineering looking for a Front-end, Back-end, QA, or DevOps development role utilizing critical thinking, problem solving, and a love for software development. Background in JavaScript, Python, HTML5, CSS, React, Django and more...  </p>
                        </div>
                        <div class="social_media">
                            <a href="https://www.linkedin.com/in/drewadorno/" target="_blank"><img src="{% static 'images/linkedin.svg' %}" alt=""></a>
                            <a href="https://www.facebook.com/drew.adorno?fref=profile_friend_list&hc_location=friends_tab" target="_blank"><img src="{% static 'images/facebook.svg' %}" alt=""></a>
                            <a href="https://github.com/drewAdorno" target="_blank"><img src="{% static 'images/github.svg' %}" alt=""></a>
                        </div>
                    </div>
        
                </div>
            </footer>
        </div>

        <script>
            var csrftoken = '{{ csrf_token }}';
        </script>
    </div>







    <!-- For icons-->
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <!-- Gallery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
    <script>
        baguetteBox.run('.tz-gallery');
    </script>


    <!-- Add to text post field additional features -->
    <script src="https://cdn.ckeditor.com/4.14.1/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace( 'editor1' );
    </script>
</body>
</html>