// Cart page
.total_cart_info{
    padding: 20px;
}
.cart_products_container{
    padding: 10px 20px;
    .cart_table_row_header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $dark;
        color: $white_color;
        padding: 6px 0;
        .table_headrer_1,
        .table_headrer_2,
        .table_headrer_3,
        .table_headrer_4,
        .table_headrer_5{
            flex:1;
            text-align: center;
            p{
                font-size: 20px;
            }
            a{
                color: $white_color; 
                font-size: 20px;
            }
        }
    }
}


.cart_table_row_body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $blue_bg; 
    .table_headrer_1,
    .table_headrer_2,
    .table_headrer_3,
    .table_headrer_4,
    .table_headrer_5{
        flex:1;
        text-align: center;
        img{
            width: 80px;
            height: 80px;
        }
        p{
            font-size: 20px;
        }
        a{
            color: $blue_bg; 
            font-size: 20px;
        }
    }
}



.btn_container{
    padding: 20px;
    text-align: right;
    .my_btn3_container{
        .my_btn3{
            outline: none;
            padding: 10px 20px;
            border: none;
            border-radius: none;
            color: $white_color;
            background-color: $red;  
            transition: 0.5s;
            &:hover{
                background-color: $dark;
                text-decoration: none; 
            }
        }
    }
}

