.item_page_container{
    min-height: 88vh;
    .item_container_header{
        max-width: 1300px;
        margin: 0 auto;
        padding: 10px 10px;
        text-align: center;
    }
}

.item_container{
    z-index: 50;
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;
 }



.product_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.my_btn{
    display: block;
    padding: 6px 10px 4px;
    color: $white_color;
    background-color: $red;
    transition: 0.5s;
    &:hover{
        background-color: #343a40; 
    }
}

.my_btn2{
    display: block;
    outline: none;
    border: none;
    border-radius: none;
    padding: 6px 10px 4px;
    color: $white_color;
    background-color: #343a40;
    transition: 0.5s;
    &:hover{
        background-color: $red;  
    }
}