.item_page_container{
    min-height: 88vh;
    .item_container_header{
        max-width: 1300px;
        margin: 0 auto;
        padding: 10px 10px;
        text-align: center;
    }
}

.item_container{
    z-index: 50;
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;
 }



