// $blue_bg: #191f31;
$blue_bg: #1d1d1d;
$red: #930303;
$red_light: #d81513;
$blue_bg_opacity: #191f31ea;
$blue_bg_opacity_dark: #191f3145;
$blue_bg_opacity_ligth: #191f3112;
$light_blue: #222b43;
$orange_color:#ffaf00;
$white_color: #fff;
$grey_color:#767676;
$light_grey:#aaaaaa;
$dark_grey:#606060;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: Helvetica, sans-serif;
    // font-family: 'Nunito', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
}
.page_container{
    background: radial-gradient(#5f5f60, $blue_bg);
    position: relative;
    margin: 0;
    padding: 0;
}

a{
    cursor: pointer;
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
    padding: 0; 
}

@import'./navigation';
@import'./products';
@import'./item';



#left_img{
    position: absolute;
    left: -50px;
    bottom:0px;
}

#right_img{
    position: absolute;
    right: 0;
    bottom:0px;
}

footer{
    background-color: $blue_bg;
    .footer_container{
        max-width: 1100px;
        padding: 30px 20px;
        margin: auto;
        display: flex;
        align-items: top;
        justify-content: space-between;
        color: $light_grey;
        h1{
            color: $red
        }
        p{
            font-weight: 300;
        }
    }
}
.social_media{
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.social_media a img{
    width: 20px;
    height: 20px;
    opacity: 0.7;
    margin-right: 20px;
}
#rashid{
    margin: 0 40px;
}