// $blue_bg: #191f31;
$blue_bg: #1d1d1d;
$red: #930303;
$red_light: #d81513;
$blue_bg_opacity: #191f31ea;
$blue_bg_opacity_dark: #191f3145;
$blue_bg_opacity_ligth: #191f3112;
$light_blue: #222b43;
$orange_color:#ffaf00;
$white_color: #fff;
$grey_color:#767676;
$light_grey:#aaaaaa;
$dark_grey:#606060;
$dark:#343a40;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: Helvetica, sans-serif;
    // font-family: 'Nunito', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
}
.page_container{
    background: radial-gradient(#5f5f60, $blue_bg);
    position: relative;
    margin: 0;
    padding: 0;
}

.red{
    color: $red;
}

.page_container{
    .navigation_container{
        position: relative;
        z-index: 11;
    }
    .main_container{
        position: relative;
        z-index: 10;
    }
    footer{
        position: relative;
        z-index: 11; 
    }
}

hr{
    margin: 0;
}

a{
    cursor: pointer;
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
    padding: 0; 
}
.page_title{
    text-align: center;
}


.form-group{
    margin-bottom: 0;
}
label {
    margin-bottom: 0;
    margin-top: 10px;
}
@import'./navigation';
@import'./store';
@import'./item';



#left_img{
    position: absolute;
    left: -50px;
    bottom:0px;
}

#right_img{
    position: absolute;
    right: 0;
    bottom:0px;
}


// FOOTER
footer{
    max-width: 1100px;
    margin: auto;
    background-color: $blue_bg;
    .footer_container{
        max-width: 1100px;
        padding: 30px 30px;
        margin: auto;
        display: flex;
        align-items: top;
        justify-content: space-between;
        color: $light_grey;
        h1{
            color: $red
        }
        p{
            font-weight: 300;
        }
    }
}
.social_media{
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.social_media a img{
    width: 20px;
    height: 20px;
    opacity: 0.7;
    margin-right: 20px;
}
#rashid{
    margin: 0 0 0 40px;
}



// Create Product Page
.create_product_page_container{
    background: radial-gradient(#ffffff,#ababab);
    max-width: 1100px;
    margin: 0 auto;
    min-height: 100vh;
    padding: 40px;
    .create_product_form_container{
        padding: 20px;
    }
}
.btncreate_container{
    text-align: right;
    margin-top: 20px;
    .create_btn_container{
        .create_btn{
            outline: none;
            padding: 5px 12px;
            border: none;
            border-radius: none;
            color: $white_color;
            background-color: $red;  
            transition: 0.5s;
            &:hover{
                background-color: $dark;
                text-decoration: none; 
            }
        }
    }
}

















// UpdateProduct Page
.any_page_container{
    background: radial-gradient(#ffffff,#ababab);
    max-width: 1100px;
    margin: 0 auto;
    min-height: 100vh;
    padding: 40px;
    h1{
        text-align: center;
    }
}

.photo_list{
    position: relative;
    .delete_photo{
        position: absolute;
        top: 0px;
        right: 20px;
        z-index: 20;
        ion-icon{
            color: red;
        }

    }
}




// All_products Page
.all_products_container{
    padding: 20px;
    .table_row_header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $dark;
        color: $white_color;
        padding: 6px 0;
        .table_headrer_1,
        .table_headrer_2,
        .table_headrer_3,
        .table_headrer_4,
        .table_headrer_5{
            flex: 1;
            text-align: center;
            p{
                font-size: 20px;
            }
            a{
                color: $white_color; 
                font-size: 20px;
            }
        }
    }
    .table_row_body{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $blue_bg; 
        .table_headrer_1,
        .table_headrer_2,
        .table_headrer_3,
        .table_headrer_4,
        .table_headrer_5{
            flex: 1;
            text-align: center;
            img{
                width: 80px;
                height: 80px;
            }
            p{
                font-size: 20px;
            }
            a{
                color: $blue_bg; 
                font-size: 20px;
            }
        }
    }
}
.hr_separator{
    margin: 0;
}

.display_inline{
    display: inline-block;
    margin-right: 20px;
}

.display_inline2{
    display: inline-block;
}




@import'./cart';









// Checkout Page
.checkout_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    .hydrated {
        margin-bottom: -2px;
        margin-right: 5px;
    }
}
.shipping_form{
    padding: 20px;
    label{
        margin-bottom: 0;
    }
}


// Edit product page
.cur_product_images{
    display: flex;
    align-items: center;
    img{
        width: 80px;
        height: 80px; 
        margin-right: 20px;
    }
}




